<div class="content">
    <img class="myPhotoCircle" src="\assets\imageBaseMonTerroir.png" alt="Terroir avec une caisse des légumes" />

    <h1>Connexion</h1>

    <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
        <app-form-input-text label="Nom" (valueChange)="setUsername($event)"></app-form-input-text>
        <br>
        <app-form-input-text label="Mot de passe" (valueChange)="setPassword($event)"></app-form-input-text>


    </form>
    <app-button-login label="Connexion" (click)="onSubmit(loginForm)">Connexion</app-button-login>

</div>