.myCardProduct{
    border: solid 1px var(--border-card-grey) ;
    width: 40%;
    border-radius: 10%;
}

.myCardProduct img {
    border-radius: 10%;
}

.addFavoris{
    width: 10px;
    height: 10px;
    background-color: red;
}

// .containerNameFavoris {
//     display: flex;
//     justify-content: space-between;
//     align-items: baseline;
// }

.flexLove, .flexChat {
    display: flex;
    justify-content: baseline;
}

.flexLove p {
    width: 120%;
}

.flexChat p {
    width: 120%;
}

.flexLove img,
.flexChat img {
    width: 50%;
    margin-left: 40%;
    padding-top: 25%;
}

.nameProduct {
    font-size: 1.5em;
    font-weight: 500;
}