<ion-content *ngIf="product">
  <app-bar [title]="product.name"></app-bar>

  <ion-icon
    *ngIf="canEdit"
    name="create"
    size="large"
    routerLink="edit"
  ></ion-icon>

  <ion-icon
    *ngIf="canDelete"
    name="trash"
    size="large"
    (click)="delete()"
  ></ion-icon>

  <img
    [src]="product.images[0].url"
    alt="productor.username"
    class="header-image"
  />

  <div class="flex">
    <div class="flex-1">
      <h1>{{ product.name }}</h1>
    </div>
    <div class="flex-1" (click)="contact()">
      <div class="contact-button">
        <div>Contact</div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="flex">
      <div class="flex-1">
        <div class="price">
          <div class="price-value">{{ product.price }} CHF</div>
        </div>
      </div>
    </div>
  </div>

  <ion-list>
    <app-review-item
      *ngFor="let review of product.reviews"
      [review]="review"
    ></app-review-item>
  </ion-list>
</ion-content>
