.map-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.map-frame {
    height: 100%;
}

#map {
    height: 100%;
    z-index: 1;
}

.button-list {
    position: absolute;
    top: 10vh;
    right: 2vw;
    z-index: 100;
}