<ion-content>
  <div id="MyCircleGreen"></div>
  <div class="container">
    <h1>Salut, <span class="myGreenName">{{user?.username}}</span></h1>
    <h2 class="myDate">{{maDate | date:'dd.MM.YY'}}</h2>

    <app-local-position-bar></app-local-position-bar>

    <div class="SuggestionBar">
      <h3>Nos Suggestion</h3>
    </div>
  </div>
  <div class="sliderSuggestion">
    <!-- <ion-content [scrollX]="true"> -->
    <ion-list class="cardFelx">
      <app-card-product
        *ngFor="let product of products"
        [product]="product"
      ></app-card-product>
    </ion-list>
    <!-- </ion-content> -->
  </div>
  <div class="container">
    <div class="ProductorBar">
      <h3>Vendeur de la région</h3>
    </div>
  </div>
  <div class="sliderProductor">
    <ion-list class="cardFelx">
      <app-card-productor
        class="mesProducteurHome"
        *ngFor="let productor of productors"
        [productor]="productor"
      ></app-card-productor>
    </ion-list>
  </div>
  <div class="container">
    <div class="ProductorBar">
      <h3>Mes Achats</h3>
    </div>
  </div>
  <ion-list class="cardFelx-achat">
    <app-card-product
      class="mesAchatsHome"
      *ngFor="let product of products"
      [product]="product"
    ></app-card-product>
  </ion-list>

  <!-- <ion-button (click)="showLoading()">Show loading</ion-button> -->
</ion-content>
