.header-image {
  width: 100vw;
  height: 20vh;
  object-fit: cover;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-button {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  color: #000;
}

.cardFelx-achat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}

.products-list {
  display: flex;

  flex-direction: row;
  overflow-x: scroll;
}
