<div class="myCardFiltre">
  <div *ngFor="let categorie of categories">
    <div
      class="filtre"
      [ngClass]="{ filtreActive: categorie._id === selectedCategorieId }"
      (click)="selectCategorie(categorie)"
    >
      <img class="imgFiltre" src="{{ categorie.image }}" width="50px" />
      <p>{{ categorie.name }}</p>
    </div>
  </div>

  <!-- <a href="#" class="myFruit">
    <div class="fruit">
      <div class="imgFruit"></div>
      <p>Fruit</p>
    </div>
  </a>
  <a href="#" class="myLegume filtreActive">
    <div class="legume">
      <div class="imgLegume"></div>
      <p>Legume</p>
    </div>
  </a>
  <a href="#" class="myViande">
    <div class="viande">
      <div class="imgViande"></div>
      <p>Viande</p>
    </div>
  </a>
  <a href="#" class="myMelasse">
    <div class="melasse">
      <div class="imgMelasse"></div>
      <p>Melasse</p>
    </div>
  </a>
  <a href="#" class="myBoisson">
    <div class="boisson">
      <div class="imgBoisson"></div>
      <p>Boisson</p>
    </div>
  </a>
  <a href="#" class="myAutre">
    <div class="autre">
      <div class="imgAutre"></div>
      <p>Autre</p>
    </div>
  </a> -->
</div>
