<div class="content">
    <img class="myPhotoCircle" src="\assets\imageBaseMonTerroir.png" alt="Terroir avec une caisse des légumes" />

    <br>
    <h1>Mon Terroir</h1>

    <p>Promouvoir le commerce de la région. <br> Achetez directement chez le producteur. <br> Mon Terroir a comme valeur un monde plus éco-responsable. Participez avec nous.
    </p>
    <div>
        <app-button-login label="Connexion" (click)="goTo('login')"></app-button-login>
        <br>
        <app-button-login type="secondary" label="Inscription" (click)="goTo('register')"></app-button-login>
    </div>
    <div>&nbsp;</div>
</div>